Repository Kumar-laxmi/Algorithms, pull requests merged in 2022-10, with the labels that each got.

#2 Program to calculate factors of a number
  Python/Maths/factors.py
Labels: hacktoberfest-accepted, Easy, Maths function

#4 Java program to calculate factors of a number
  C++/Maths/factors.cpp
  C/Maths/factors.c
  Java/Maths/Factors.java
  Python/Maths/factors.py
Labels: hacktoberfest-accepted, Easy, Maths function, C, C++, Python, Java

#9 Made the Prime Checker
  C++/Maths/Is_prime.cpp
  C/Maths/is_Prime.c
  Java/Maths/is_prime.java
  Python/Maths/is_prime.py
Labels: hacktoberfest-accepted, Easy, Maths function, C, C++, Python, Java

#13 Bubble sort completed
  C++/Sorting/bubble_sort.cpp
  C/Sorting/bubble_sort.c
  Java/Sorting/bubble_sort.java
  Python/Sorting/bubble_sort.py
Labels: good first issue, hacktoberfest-accepted, Easy, Sorting, C, C++, Python, Java

#14 Selection sort completed
  C++/Sorting/selection.cpp
  C/Sorting/selection.c
  Java/Sorting/selection.java
  Python/Sorting/bubble_sort.py
  Python/Sorting/selection.py
Labels: hacktoberfest-accepted, Easy, Sorting, C, C++, Python, Java

#15 Singly linked list completed
  C++/Linked-List/SinglyLinkedList.cpp
  Python/Linked-List/SinglyLinkedList.py
Labels: hacktoberfest-accepted, Easy, Linked-List, C++, Python, Pointer

#16 AVL Tree
  C++/Trees/AVLTree.cpp
  Python/Trees/AVLTree.py
Labels: hacktoberfest-accepted, Medium, Trees, Linked-List, C++, Python, Pointer

#23 Heap Sort completed
  C++/Sorting/heapSort.cpp
  C/Sorting/heapSort.c
  Java/Sorting/heapSort.java
  Python/Sorting/heapSort.py
Labels: hacktoberfest-accepted, Medium, Sorting, C, C++, Python, Java

#25 Dijkstra Algorithm completed
  C++/Graphs/Dijkstra.cpp
  C/Graphs/Dijkstra.c
  Java/Graphs/Dijkstra.java
  Python/Graphs/Dijkstra.py
Labels: hacktoberfest-accepted, Medium, Graphs, Greedy-methods, C, C++, Python, Java

#32 Dijkstra's Algorithm Completed
  C++/Graphs/Dijkstra.cpp
  C/Graphs/Dijkstra.c
  Java/Graphs/Dijkstra.java
  Python/Graphs/Dijkstra.py
Labels: hacktoberfest-accepted, Medium, Graphs, Greedy-methods, C, Python, Java

#39 added linear and binary search in all 4 languages
  C++/Searching/binary_search.cpp
  C++/Searching/linear_search.cpp
  C/Searching/binary_search.c
  C/Searching/linear_search.c
  Java/Searching/binary_search.java
  Java/Searching/linear_search.java
  Python/Searching/binary_search.py
  Python/Searching/linear_search.py
Labels: hacktoberfest-accepted, Easy, Searching, C, C++, Python, Java

#37 Decision Tree completed
  Python/Machine Learning/Decision Tree/PlayTennis.csv
  Python/Machine Learning/Decision Tree/decision_tree.py
Labels: hacktoberfest-accepted, Hard, Python, Machine Learning

#43 Floyd-Warshall Algorithm Completed
  C++/Graphs/floyd_warshall.cpp
  C/Graphs/floyd_warshall.c
  Java/Graphs/floyd_warshall.java
  Python/Graphs/floyd_warshall.py
Labels: hacktoberfest-accepted, Medium, Graphs, Greedy-methods, C, C++, Python, Java

#49 Huffman Coding
  C++/Data Compression/huffmanCoding.cpp
  C/Data Compression/huffmanCoding.c
  Python/Data Compression/huffmanCoding.py
Labels: Medium, Trees, C, C++, Python, Data Compression, Under Review

#44 added merge sort
  C++/Sorting/merge_sort.cpp
  C/Sorting/merge_sort.c
  Java/Sorting/merge_sort.java
  Python/Sorting/merge_sort.py
Labels: hacktoberfest-accepted, Medium, Sorting, C, C++, Python, Java

#57 Kadane's Algorithm
  C++/Maths/KadaneAlgo.cpp
  Java/Maths/KadaneAlgo.java
  Python/Maths/KadaneAlgo.py
Labels: hacktoberfest-accepted, Medium, Greedy-methods, Maths function, C++, Python, Java

#58 Red Black Tree Completed
  C++/Trees/red_black.cpp
  Python/Trees/red_black.py
Labels: hacktoberfest-accepted, Hard, Trees, C++, Python

#46 depth first search algorithm
  C++/Sorting/depth_first_search.cpp
  Java/Sorting/Depth_first_search.java
Labels: hacktoberfest-accepted, Medium, Searching, Graphs, Greedy-methods, C++, Java

#54 Fixes Issue #50
  C++/Sorting/heap_sort.cpp
  C++/Sorting/selection_sort.cpp
  C/Sorting/heap_sort.c
  C/Sorting/selection_sort.c
  Java/Sorting/heap_sort.java
  Java/Sorting/selection_sort.java
  Python/Sorting/heap_sort.py
  Python/Sorting/selection_sort.py
  README.md
Labels: documentation, hacktoberfest-accepted
