Repository Kumar-laxmi/Algorithms, pull requests merged in 2023-01, with the labels that each got.

#67 added singly list operation code in C lang section
  C/Linked-List/SinglyLinkedList.c
  README.md
Labels: Easy, Linked-List, C, Pointer, SWOC

#76 added double linked list
  Java/Linked-List/DoubleLinkedList.java
Labels: Easy, Linked-List, Java, SWOC

#93 made changes to readme and added Cyclic sort
  Java/Sorting/cyclic_sort.java
  README.md
Labels: Easy, Sorting, Java, SWOC

#94 Binary Search Tree in C
  C/Trees/binary_search_tree.c
  README.md
Labels: Easy, Trees, C, SWOC

#97 added cyclic sort in cpp
  C++/Sorting/cyclic_sort.cpp
  README.md
Labels: Easy, Sorting, C++, SWOC

#86 Create Prims_Algorithm.cpp
  C++/Graphs/Prims_Algorithm.cpp
  README.md
Labels: Medium, Graphs, C++, SWOC

#160 rabin karp using c++
  C++/Pattern-Matching/rabin_karp.cpp
  README.md
Labels: Medium, C++, SWOC, pattern matching

#124 AVL Tree #123 completed
  C++/Trees/binarySearchTree.cpp
  Java/Trees/avlTree.java
Labels: Beginner, C++, Java, SWOC

#184 Fractional Knapsack, 0/1 Knapsack and Karatsuba Algorithm, Huffman Coding
  C++/Divide-and-Conquer/karatsuba.cpp
  C++/Dynamic-Programming/01_knapsack.cpp
  C++/Greedy-Algorithm/fractional_knapsack.cpp
  C/Dynamic-Programming/01_knapsack.c
  Java/Data-Compression/Huffman.java
Labels: Advanced, C, C++, Java, Data Compression, SWOC, Divide and Conquer, Dynamic Programming, Greedy Algorithm

#185 Bellman Ford Algorithm added
  C++/Graphs/Bellman_Form_Algorithm.cpp
Labels: SWOC23-INTERMEDIATE, Graphs, C++, SWOC23

#161 Quick Sort in Cpp -> sorting
  C++/Sorting/quick_sort.cpp
  README.md
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#201 Binary Search on a 2D matrix #135
  Java/Searching/binary_search_2d.java
Labels: SWOC23-BEGINNER, Searching, Java, SWOC23

#214 Cyclic Sort in Python
  Python/Sorting/cyclic_sort.py
  README.md
Labels: SWOC23-BEGINNER, Sorting, Python, SWOC23

#165 Binary Exponentiation Algorithm.cpp
  C++/Maths/Binary Exponentiation Algorithm.cpp
  C++/Maths/Sieve of Eratosthenes Algorithm.cpp
  C++/Sliding Window/Array Removals.cpp
  C++/Sliding Window/Count distinct elements in every window.cpp
  C++/Sliding Window/Create Count Occurences of Anagrams.cpp
  C++/Sliding Window/First negative integer in every window of size k.cpp
  C++/Sliding Window/Longest K unique characters substring.cpp
  C++/Sliding Window/Longest Sub-Array with Sum K containing only positive elements.cpp
  C++/Sliding Window/Longest Substring Without Repeating Characters.cpp
  C++/Sliding Window/Maximum Sum of Distinct Subarrays With Length K.cpp
  C++/Sliding Window/Maximum of all subarrays of size k.cpp
  C++/Sliding Window/Maximum sum of subarray less than or equal to x.cpp
  C++/Sliding Window/README.md
  C++/Sliding Window/Smallest window containing 0, 1 and 2.cpp
  C++/Sliding Window/Subarray with given sum.cpp
  C++/Sliding Window/Substrings of length k with k-1 distinct elements.cpp
Labels: SWOC23-INTERMEDIATE, Maths function, C++, SWOC23, Sliding Window

#217 Morris Traversal Algorithm #183
  C/Trees/morris_transversal.c
Labels: SWOC23-BEGINNER, Trees, C, SWOC23

#210 Added code for Topological Sort in C++
  C++/Graphs/Bellman_Form_Algorithm.cpp
  C++/Sorting/Topological_Sort.cpp
Labels: SWOC23-BEGINNER, Sorting, Graphs, C++, SWOC23

#226 Dutch National Flag Algorithm Java
  Java/Maths/Sieve_erastonetihis.java
  Java/Sorting/Dutch_National_Flag.java
Labels: SWOC23-BEGINNER, Sorting, Maths function, Java, SWOC23

#182 Sieve Eratosthenes Algorithm
  Java/Maths/Sieve_erastonetihis.class
Labels: Maths function, Java, Under Review

#228 Necessary Changes
  .DS_Store
  .gitignore
  CODE_OF_CONDUCT.md
Labels: documentation, SWOC23-BEGINNER, SWOC23

#216 Counting Sort using C++
  C++/Sorting/counting_sort.cpp
  README.md
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#230 GCD and LCM
  C++/Maths/GCD and LCM.cpp
  C/Maths/GCD and LCM.c
  Java/Maths/GCD_and_LCM.java
  Python/Maths/GCD and LCM.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#211 Added 01_knapsack in Python
  Python/Dynamic-Programming/01_knapsack.py
  README.md
Labels: SWOC23-INTERMEDIATE, Python, SWOC23, Dynamic Programming

#218 added 0/1 knapsack java
  Java/Dynamic-Programming/_01_knapsack.java
Labels: SWOC23-INTERMEDIATE, Java, SWOC23, Dynamic Programming

#199 Feature : Morris Traversal #183
  C++/Trees/MorrisTraversal.cpp
Labels: SWOC23-BEGINNER, Trees, C++, SWOC23

#232 Add Two Numbers Using linked list Concept
  C++/Linked-List/Add Two Numbers.cpp
Labels: SWOC23-BEGINNER, Linked-List, C++, SWOC23

#202 added dutch national flag algorithm
  C++/Sorting/dutch_national_flag_algorithm.cpp
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#245 Added Armstrong number in all languages - Math algo
  C++/Maths/armstrong.cpp
  C/Maths/armstrong.c
  Java/Maths/armstrong.java
  Python/Maths/armstrong.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#241 Wave sort in python
  Python/Sorting/wave_sort.py
  README.md
Labels: SWOC23-BEGINNER, Sorting, Python, SWOC23

#271 Sieve of eratosthenes algorithm in Python
  Python/Maths/sieve_of_eratosthenes.py
  README.md
Labels: SWOC23-BEGINNER, Maths function, Python

#285 Update binary_search.cpp
  C++/Searching/binary_search.cpp
Labels: Minor Updation

#257 create tarjan algorithm
  C++/Graphs/Tarjan_Algorithm.cpp
Labels: SWOC23-INTERMEDIATE, Graphs, C++, SWOC23

#295 Binary tree to bst
  C++/Trees/BinaryTreeToBST.cpp
  C/Trees/BinaryTreeToBST.c
  Java/Trees/BinaryTreeToBST.java
  Python/Trees/BinaryTreeToBST.py
Labels: SWOC23-BEGINNER, Trees, C, C++, Python, Java, SWOC23

#274 Circular Linked List in C++
  C++/Linked-List/CircularLinkedList.cpp
Labels: SWOC23-BEGINNER, Linked-List, C++, SWOC23

#297 Added Beautiful string Program in C, C++, Java and Python
  C++/String/Beautiful_string.cpp
  C/String/Beautiful_string.c
  Java/String/Beautiful_Sorting.java
  Python/String/Beautiful_string.py
Labels: SWOC23-BEGINNER, C++, SWOC23, strings

#308 Reverse integer
  C++/Maths/Reverse_integer.cpp
Labels: SWOC23-BEGINNER, Maths function, C++, SWOC23

#305 Create LongestCommonSubsequence.cpp
  C++/Dynamic-Programming/LongestCommonSubsequence.cpp
Labels: SWOC23-INTERMEDIATE, C++, SWOC23, Dynamic Programming

#237 Wave sort in C++ #225
  C++/Sorting/Wave_sort.cpp
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#269 Sieve of Eratosthenes in c added #173
  C/Maths/sieveOfEratosthenes.c
Labels: SWOC23-BEGINNER, Maths function, C, SWOC23

#219 DFS BFS Issue-186
  C++/Searching/bfs.cpp
  C++/Searching/dfs.cpp
Labels: SWOC23-BEGINNER, Searching, C++, SWOC23

#322 Linear Regression in C++ (without library)
  .gitignore
  C++/Machine-Learning/linearReg.cpp
Labels: SWOC23-INTERMEDIATE, C++, Machine Learning, SWOC23

#317 create Boyer-Moore Majority Voting Algorithm
  C++/Sub-Arrays/Boyer-Moore Majority Voting Algorithm.cpp
Labels: C++, Sub-Arrays

#306 Added edit distance in dynamic programming in C++
  C++/Dynamic-Programming/edit_distance.cpp
Labels: SWOC23-INTERMEDIATE, C++, SWOC23, Dynamic Programming

#254 Added code for Kosaraju Algorithm in C++
  C++/Graphs/Kosaraju_Algorithm.cpp
Labels: Graphs, C++, Under Review

#351 Logistic Regression in C++
  C++/Machine-Learning/LogisticRegression.cpp
Labels: SWOC23-ADVANCED, C++, Machine Learning, SWOC23

#333 Quick sort in C
  C/Sorting/Quick_Sort.c
  README.md
Labels: SWOC23-BEGINNER, Sorting, C, SWOC23

#365 Implemented (Python) Boyer-Moore majority voting algorithm
  Python/Sub-Arrays/README.md
  Python/Sub-Arrays/boyer_moore_majority_vote.py
Labels: SWOC23-BEGINNER, Python, SWOC23, Sub-Arrays

#345 Added Merge_Interval Algorithm
  C++/Greedy-Algorithm/Merge_Interval.cpp
  C/Greedy-Algorithm/Merge_Interval.c
  Java/Greedy-Algorithm/Merge_Interval.java
  Python/Greedy-Algorithm/Merge_Interval.py
Labels: SWOC23-INTERMEDIATE, Greedy-methods, C, C++, Python, Java, SWOC23

#403 Implemented (Python) Logistic Regression
  Python/Machine Learning/Logistic-Regression/README.md
  Python/Machine Learning/Logistic-Regression/datasets/demo_1.csv
  Python/Machine Learning/Logistic-Regression/datasets/demo_2.csv
  Python/Machine Learning/Logistic-Regression/logistic_regression.py
  Python/Machine Learning/Logistic-Regression/requirements.txt
Labels: SWOC23-INTERMEDIATE, Python, Machine Learning, SWOC23

#383 Implemented (Python) Circular Linked List
  Python/Linked-List/circular_linked_list.py
Labels: SWOC23-BEGINNER, Linked-List, Python, SWOC23

#343 Added Rain Water Problem
  C++/Stack/Rain_Water.cpp
  C/Stack/Rain_Water.c
  Java/Stack/Rain_Water.java
  Python/Stack/Rain_Water.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, Stack

#415 Implemented (Python) Banker's algorithm for Deadlock Avoidance
  Python/Deadlock Avoidance/bankers_algorithm.py
Labels: SWOC23-INTERMEDIATE, Python, SWOC23, Deadlock Avoidance

#411 Karatsuba Algorithm
  Java/Divide-and-Conquer/KaratsubaAlgo.java
  Python/Divide-and-Conquer/Karatsuba.py
Labels: SWOC23-INTERMEDIATE, Python, Java, SWOC23, Divide and Conquer

#384 Bankers Algorithm added in c #151
  C/Deadlock Avoidance/bankers.c
Labels: SWOC23-INTERMEDIATE, C, SWOC23, Deadlock Avoidance

#366 Added Travelling Salesman Problem
  C/Dynamic-Programming/Travelling_Salesman.c
Labels: SWOC23-INTERMEDIATE, C, SWOC23, Dynamic Programming

#331 Greedy Method -Activity Selection Problem
  C++/Greedy-Algorithm/Activity_process.cpp
  C/Greedy-Algorithm/ActivitySelection.c
  Java/Greedy-Algorithm/ActivitySelection.java
  Python/Greedy-Algorithm/Activity_Selection.py
Labels: SWOC23-BEGINNER, Greedy-methods, C, C++, Python, Java, SWOC23

#301 Create Job Sequencing.cpp
  C++/Greedy-Algorithm/JobSequencing.cpp
Labels: SWOC23-BEGINNER, Greedy-methods, C++, SWOC23

#264 Added Fractional Knapsack (Greedy-Algorithm) implementation in Python
  Python/Greedy-Algorithm/README.md
  Python/Greedy-Algorithm/fractional_knapsack.py
Labels: SWOC23-INTERMEDIATE, Python, SWOC23, Greedy Algorithm

#259 Intersection of two linked list in C++ and Matrix chain Multiplication in C++
  C++/Dynamic-Programming/Matrix_Chain_Multiplication.cpp
  C++/Linked-List/IntersectonOfTwoLinkedList.cpp
Labels: SWOC23-INTERMEDIATE, Linked-List, C++, SWOC23, Dynamic Programming

#255 Added Linear Regression (Machine Learning) implementation in Python
  Python/Machine Learning/Linear-Regression/README.md
  Python/Machine Learning/Linear-Regression/demo_datasets/demo2d.csv
  Python/Machine Learning/Linear-Regression/demo_datasets/demo3d.csv
  Python/Machine Learning/Linear-Regression/linear_regression.py
  Python/Machine Learning/Linear-Regression/plots/demo2d_plot.png
  Python/Machine Learning/Linear-Regression/plots/demo3d_plot.png
  Python/Machine Learning/Linear-Regression/requirements.txt
Labels: SWOC23-INTERMEDIATE, Python, Machine Learning, SWOC23

#381 Largest Rectangular Area in a Histogram using Stack in C, C++, Java, Python
  C++/Stack/Max_Area_Histogram.cpp
  C/Stack/Max_Area_Histogram.c
  Java/Stack/Max_Area_Histogram.java
  Python/Stack/Max_Area_Histogram.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, Stack

#203 Tree Traversal in C++
  C++/Trees/tree_traversals.cpp
  C/Trees/tree_traversals.c
  Java/Trees/tree_traversals.java
  Python/Trees/tree_traversals.py
Labels: SWOC23-BEGINNER, Trees, C, C++, Python, Java, SWOC23

#107 Kadane's Algorithm and Doubly Linked List Menu Driven Program C++ Implementation
  C++/DoublyLinkedList/DoublyLinkedList.cpp
  C++/DoublyLinkedList/README.md
  C++/Sub-Arrays/Kadane.cpp
Labels: SWOC23-INTERMEDIATE, Linked-List, C++, SWOC23, Sub-Arrays

#101 Added prim's algorithm in java issue no#61
  Java/Graphs/Prims.java
Labels: SWOC23-INTERMEDIATE, Graphs, Java, SWOC23

#439 fractional knapsack in C
  C/Greedy-Algorithm/fractional_knapsack.c
Labels: SWOC23-INTERMEDIATE, Greedy-methods, C, SWOC23

#419 Added Job Sequencing to C++ Greedy algorithms
  C++/Greedy-Algorithm/job_sequencing.cpp
Labels: SWOC23-BEGINNER, Greedy-methods, C++, SWOC23

#469 Added Morris Traversal in Python
  Python/Trees/MorrisTraversal.py
Labels: SWOC23-BEGINNER, Trees, Python, SWOC23

#460 Implemented (Python) Job Sequencing problem
  Python/Greedy-Algorithm/README.md
  Python/Greedy-Algorithm/job_sequencing.py
Labels: SWOC23-BEGINNER, Greedy-methods, Python, SWOC23

#443 Bisection Algorithm Added
  C++/Maths/bisection.cpp
  C/Maths/bisection.c
  Java/Maths/bisection.java
  Python/Maths/bisection.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#434 BFS DFS in java Issue-186
  Java/Searching/bfs.java
  Java/Searching/dfs.java
Labels: SWOC23-BEGINNER, Searching, Java, SWOC23

#423 Converting binary to decimal and decimal to binary equivalent in C and Python
  C/Maths/binary_to_decimal_&_decimal_to_binary.c
  Python/Maths/bin_to_dec_&_dec_to_bin.py
Labels: SWOC23-BEGINNER, Maths function, C, Python, SWOC23

#476 Gnome sorting Algorithm
  C++/Sorting/Gnome_sort.cpp
  Java/Sorting/Gnome_Sorting.java
  Python/Sorting/Gnome_Sorting.py
Labels: SWOC23-BEGINNER, Sorting, C++, Python, Java, SWOC23

#442 Add Kadane's Algorithm in Java
  Java/Sub-Arrays/KadanesAlgorithm.java
Labels: SWOC23-BEGINNER, Java, SWOC23, Sub-Arrays

#386 Implemented Circular Linked List In C
  C/Linked-List/Circular Linked List.c
Labels: SWOC23-BEGINNER, Linked-List, C, SWOC23

#491 Pull Request For NGE (Next Greater Element) in Python
  Python/Stack/NGE_Using_stack.py
Labels: SWOC23-BEGINNER, Python, SWOC23, Ready to Merge
