Repository Kumar-laxmi/Algorithms, pull requests merged in 2023-02, with the labels that each got.

#490 LRU Cache Design
  C++/Linked-List/LRUCacheDesign.cpp
  C/Linked-List/LRUCacheDesign.c
  Java/Linked-List/LRUCacheDesign.java
  Python/Linked-List/LRUCacheDesign.py
Labels: SWOC23-INTERMEDIATE, Linked-List, C, C++, Python, Java, SWOC23

#472 Pull request. Code for RSA algorithm
  Python/Cryptography/rsa.py
Labels: SWOC23-BEGINNER, Cryptography, Python, SWOC23

#515 singly linked list palindrome or not
  C++/Linked-List/palindrome.cpp
  C/Linked-List/palindrome.c
  Java/Linked-List/LinkedListPalindrome.java
  Python/Linked-List/palindrome.py
Labels: SWOC23-BEGINNER, Linked-List, C, C++, Python, Java, SWOC23

#288 Added implementation for Reverse Integer algorithm (Maths) in Python
  Python/Maths/reverse_integer.py
Labels: SWOC23-BEGINNER, Maths function, Python, SWOC23

#489 Added next greater element in C++
  C++/Stack/Next greater element.cpp
Labels: SWOC23-BEGINNER, C++, SWOC23, Stack

#503 Boyer Moore algorithm in c added
  C/Sub-Arrays/BoyerMooreAlgo.c
Labels: SWOC23-BEGINNER, C, SWOC23, Sub-Arrays

#522 Implemented (Python) Doubly Linked List
  Python/Linked-List/doubly_linked_list.py
Labels: SWOC23-BEGINNER, Linked-List, Python, SWOC23

#512 Gnome Sort in C
  C/Sorting/Gnome_Sort.c
Labels: SWOC23-BEGINNER, Sorting, C, SWOC23

#511 Order agnostic binary search in C++
  C++/Searching/order_agnostic_bin_search.cpp
Labels: SWOC23-BEGINNER, Searching, C++, SWOC23

#468 Implemented (Python) Counting Sort
  Python/Sorting/counting_sort.py
Labels: SWOC23-BEGINNER, Sorting, Python, SWOC23

#525 Strassen's Matrix Multiplication in C
  C/Divide-and-Conquer/Strassens.c
Labels: SWOC23-BEGINNER, C, SWOC23, Divide and Conquer

#528 Ternary search and binet formula
  C++/Maths/Binet-Formula-for-Fibonacci-Sequence.cpp
  C++/Searching/Ternary_Search.cpp
  C/Maths/Binet-Formula-for-Fibonacci-Sequence.c
  C/Searching/Ternary-Search.c
  Java/Maths/Binet_Formula.java
  Java/Searching/Ternary_Search.java
  Python/Maths/Binet-Formula-for-Fibonacci-Sequence.py
  Python/Searching/Ternary-Search.py
Labels: SWOC23-INTERMEDIATE, Searching, Maths function, C, C++, Python, Java, SWOC23

#519 Vignere cipher in python
  Python/Cryptography/vigenere_cipher.py
Labels: SWOC23-BEGINNER, Cryptography, Python, SWOC23

#518 Dinic Algorithm
  C++/Graphs/Dinic.cpp
  Java/Graphs/Dinic.java
  Python/Graphs/Dinic.py
Labels: SWOC23-INTERMEDIATE, Graphs, C++, Python, Java, SWOC23

#514 Closures of a relation in C/C++/Java/Python
  C++/Maths/closures.cpp
  C/Maths/closures.c
  Java/Maths/closures.java
  Python/Maths/closures.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#314 added merge two sorted linked list
  C++/Linked-List/MergeTwoSortedll.cpp
  C/Linked-List/mergetwosortedll.c
  Java/Linked-List/mergeTwoSortedLL.java
  Python/Linked-List/mergeTwoSortedLL.py
Labels: SWOC23-BEGINNER, Linked-List, C, C++, Python, Java, SWOC23

#430 Added reverse a singly linked list
  C++/Linked-List/Reverse a singly linked list.cpp
  C/Linked-List/Reverse a singly linked list.c
  Java/Linked-List/Reverselinkedlist.java
  Python/Linked-List/Reverse a singly linked list.py
Labels: SWOC23-BEGINNER, Linked-List, C, C++, Python, Java, SWOC23

#538 Added (Python) Menu-driven program for Prefix-Infix-Postfix interconversion
  Python/Maths/prefix_infix_postfix_interconversion.py
Labels: SWOC23-BEGINNER, Maths function, Python, SWOC23

#492 Infix expression to postfix/prefix, prefix expression to infix/postfix, postfix expression to infix/prefix
  C++/Maths/ExpressionInterConversion.cpp
Labels: SWOC23-BEGINNER, Maths function, C++, SWOC23

#544 Kandane Algorithm Using Python
  Python/Maths/KadaneAlgo.py
  Python/Sub-Arrays/Kadane_Algorithm.py
  README.md
Labels: SWOC23-BEGINNER, Python, SWOC23, Sub-Arrays

#526 KNN algo in c++
  C++/Machine-Learning/ K-nearest-neighbour-algo.cpp
Labels: SWOC23-ADVANCED, C++, Machine Learning, SWOC23

#505 Extended Euclidean Algorithm in C, C++, Java and Python
  C++/Maths/Extended_Eucledian_Algorithm.cpp
  C/Maths/Extended_Eucledian_Algorithm.c
  Java/Maths/Extended_Euclidean_Algorithm.java
  Python/Maths/Extended_Euclidean_Algorithm.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#502 Spiral Print Matrix in C
  C/arrays/spiralprint.c
Labels: SWOC23-BEGINNER, C, SWOC23, arrays

#477 Added Coin Change Problem
  C++/Dynamic-Programming/README.md
  C++/Dynamic-Programming/coinchange.cpp
  C/Dynamic-Programming/README.md
  C/Dynamic-Programming/coinchange.c
  Java/Dynamic-Programming/README.md
  Java/Dynamic-Programming/coinchange.java
  Python/Dynamic-Programming/README.md
  Python/Dynamic-Programming/coinchange.py
Labels: SWOC23-INTERMEDIATE, C, C++, Python, Java, SWOC23, Dynamic Programming

#536 Added (Python) KMP string matching algorithm
  Python/Pattern-Matching/kmp_string_matching.py
Labels: SWOC23-INTERMEDIATE, Python, SWOC23, pattern matching

#549 Next greater Element using java
  C/Stack/nextgreaterelement.c
  Java/Stack/NextGreater.java
Labels: SWOC23-BEGINNER, C, Java, SWOC23, Stack

#546 Counting Sort in C
  C/Sorting/Counting_Sort.c
Labels: SWOC23-BEGINNER, Sorting, C, SWOC23

#541 added Factorial of number in all 4 languages
  C++/Maths/factorial.cpp
  C/Maths/factorial.c
  Java/Maths/factorial.java
  Python/Maths/factorial.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#342 Added Camel Case Problem
  C++/String/Camel_Case.cpp
  C/String/Camel_Case.c
  Java/String/Camel_Case.java
  Python/String/Camel_Case.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, strings

#534 Added Implement Trie
  C++/Trees/Trie.cpp
Labels: SWOC23-INTERMEDIATE, Trees, C++, SWOC23

#548 Implement Trie using java
  Java/Trees/Trie.java
Labels: SWOC23-INTERMEDIATE, Trees, Java, SWOC23

#480 String Pattern matching-Zalgorithm
  C++/Pattern-Matching/Z_Algorithm.cpp
  C/Pattern-Matching/Z_Algorithm.c
  Java/Pattern-Matching/Z_Algorithm.java
  Python/Pattern-Matching/Z_Algorithm.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, pattern matching

#559 Added Bucket sort
  C++/Sorting/Bucket_Sort.cpp
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#542 Spiral Print Algorithm in Python
  Python/arrays/Spiral_Print_Algorithm.py
Labels: SWOC23-BEGINNER, Python, SWOC23, arrays

#561 Added cocktail sorting in cpp
  C++/Sorting/cocktail_sort.cpp
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#555 Added Railfence Cipher Algorithm in Python
  Python/Cryptography/railfenceCipher.py
Labels: SWOC23-INTERMEDIATE, Cryptography, Python, SWOC23

#533 Caesar Cipher in java and C
  C/Cryptography/CaesarCipher.c
  Java/Cryptography/CaesarCipher.java
Labels: SWOC23-INTERMEDIATE, Cryptography, C, Java, SWOC23

#481 Added Minimum jump algorithm in all four languages
  C++/Dynamic-Programming/Min_Jump.cpp
  C/Dynamic-Programming/Min_Jump.c
  Java/Dynamic-Programming/Min_Jump.java
  Python/Dynamic-Programming/Min_Jump.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, Dynamic Programming

#438 Create Hamiltonian_path.java
  Java/Graphs/Hamiltonian_path.java
Labels: SWOC23-INTERMEDIATE, Graphs, Java, SWOC23

#574 added Rabin Karp Algo
  Python/Pattern-Matching/rabin_karp.py
Labels: SWOC23-INTERMEDIATE, Python, SWOC23, pattern matching

#569 Roman to decimal
  C++/Maths/Roman_to_Decimal.cpp
  C/Maths/Roman_to_Decimal.c
  Java/Maths/Roman_to_Decimal.java
  Python/Maths/Roman_to_Decimal.py
Labels: SWOC23-BEGINNER, Trees, Maths function, C, C++, Python, Java, SWOC23

#231 Bankers Algorithm, Travelling Salesman Problem, Sliding Window and Wave Sort algorithm Splay tree algorithm
  C++/Deadlock Avoidance/BankerAlgorithm.cpp
  C++/Dynamic-Programming/TravellingSalesMen.cpp
  C/Trees/SplayTree.c
  Java/Sliding Window/SlidingWindow.java
  Java/Sorting/wave_sort.java
  Java/Trees/splayTree.java
Labels: SWOC23-ADVANCED, Sorting, C++, Java, SWOC23, Dynamic Programming, Sliding Window, Deadlock Avoidance

#573 Added Spiral Print Algorithm in C++
  C++/arrays/spiralPrint.cpp
Labels: SWOC23-BEGINNER, C++, SWOC23, arrays

#520 Added triplet algorithm in all four languages using sorting
  C++/Sorting/Triplet.cpp
  C/Sorting/Triplet.c
  Java/Sorting/Triplet.java
  Python/Sorting/Triplet.py
Labels: SWOC23-BEGINNER, Sorting, C, C++, Python, Java, SWOC23

#583 Created Job_Sequencing in java
  Java/Greedy-Algorithm/Job_Sequencing.java
Labels: SWOC23-BEGINNER, Greedy-methods, Java, SWOC23

#564 Added program for perfect number in all four languages
  C++/Maths/perfect.cpp
  C/Maths/perfect.c
  Java/Maths/PerfectNumber.java
  Python/Maths/perfect.py
Labels: SWOC23-BEGINNER, Maths function, C, C++, Python, Java, SWOC23

#579 Vernam Cipher Implementation in C++ & Python
  C++/Cryptography/CaeserCipher.cpp
  C++/Cryptography/VernamCipher.cpp
  Python/Cryptography/VernamCipher.py
Labels: SWOC23-INTERMEDIATE, Cryptography, C++, Python, SWOC23

#550 Added symmetric tree algorithm in all four languages
  C++/Trees/Symmetric_Tree.cpp
  C/Trees/Symmetric_Tree.c
  Java/Trees/Symmetric_Tree.java
  Python/Trees/Symmetric_Tree.py
Labels: SWOC23-BEGINNER, Trees, C, C++, Python, Java, SWOC23

#537 Order_Agnositc_Binary_Search in Python
  Python/Searching/Order_Agnostic_Binary_Search.py
Labels: SWOC23-BEGINNER, Searching, Python, SWOC23

#545 Longest Common Subsequence in c
  C/Dynamic-Programming/Longest_Common_Subsequence.c
Labels: SWOC23-INTERMEDIATE, C, SWOC23, Dynamic Programming

#589 Bucket Sorting in Java
  Java/Sorting/BucketSort.java
Labels: SWOC23-BEGINNER, Sorting, Java, SWOC23

#494 Added Binary Search on a 2d matrix in C, C++ and Python.
  C++/Searching/Binary_search_in_2d_matrix.cpp
  C/Searching/binary_search_in_a_2D_matrix.c
  Python/Searching/Binary_search_2D_matrix.py
Labels: SWOC23-BEGINNER, Searching, C, C++, Python, SWOC23

#327 Create KMP Algorithm.c
  C/Pattern-Matching/KMP Algorithm.c
Labels: SWOC23-INTERMEDIATE, C, SWOC23, pattern matching

#600 Hill Cipher Implementation in C++ & Python
  C++/Cryptography/HillCipher.cpp
  Python/Cryptography/HillCipher.py
Labels: SWOC23-INTERMEDIATE, Cryptography, C++, Python, SWOC23

#571 Added KMP Algorithm in C++
  C++/Pattern-Matching/KMP_Algorithm.cpp
Labels: SWOC23-INTERMEDIATE, C++, SWOC23, pattern matching

#570 Diffie-Hellman Algorithm in Python
  Python/Cryptography/Diffie_Hellman.py
Labels: SWOC23-INTERMEDIATE, Cryptography, Python, SWOC23
