Repository Kumar-laxmi/Algorithms, pull requests merged in 2023-06, with the labels that each got.

#743 Updated Readme.md with badges
  README.md
Labels: documentation, SSOC23, SSOC-BEGINNER

#748 Strassen's Matrix Multiplication in C++ & Java
  .gitignore
  C++/Divide-and-Conquer/strassen_matrix_multiplication.cpp
  Java/Divide-and-Conquer/strassen_matrix_multiplication.java
Labels: C++, Java, Divide and Conquer, SSOC23, SSOC-INTERMEDIATE

#895 K-Means-Clustering in Python
  Python/Machine Learning/K Means Clustering/kMeansClustering.py
Labels: Python, Machine Learning, SSOC23, SSOC-ADVANCED

#817 Minimum sum partition problem in JAVA, C++, Python and C
  C++/Dynamic-Programming/minimum_sum_partition.cpp
  C/Dynamic-Programming/minimum_sum_partition.c
  Java/Dynamic-Programming/minimum_sum_partition.java
  Python/Dynamic-Programming/minimum_sum_partition.py
Labels: C, C++, Python, Java, Dynamic Programming, SSOC23, SSOC-INTERMEDIATE

#816 Permutations algo added in c, c++, java and python
  C++/Recursion/Permutations.cpp
  C/Recursion/Permutations.c
  Java/Recursion/Permutations.java
  Python/Recursion/Permutations.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Recursion

#983 Added fibonacci search in c++ , c , java ,python
  C++/Searching/fibonacci_search.cpp
  C/Searching/fibonacci_search.c
  Java/Searching/fibonacci_search.java
  Python/Searching/fibonacci_search.py
Labels: Searching, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#969 Added shell sort algorithm in C++,C , Java, Python
  C++/Sorting/shell_sort.cpp
  C/Sorting/shell_sort.c
  Java/Sorting/shell_sort.java
  Python/Sorting/shell_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#944 Added Pascal Triangle in C,C++,Python, Java
  C++/Maths/Pascal_Triangle.cpp
  C/Maths/Pascal_Triangle.c
  Java/Maths/Pascal_Triangle.java
  Python/Maths/Pascal_Triangle.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#938 Added Genetic Algorithm in C++ and Pytthon
  C++/Optimization/genetic.cpp
  Python/Optimization/genetic.py
Labels: C++, Python, SSOC23, SSOC-INTERMEDIATE, Optimization

#1050 Naïve Bayes Classifier implementation in C++ & Python
  C++/Machine-Learning/NaiveBayesClassifier.cpp
  Python/Machine Learning/Naive Bayes Classifier/NaiveBayesClassifier.py
Labels: C++, Python, Machine Learning, SSOC23, SSOC-ADVANCED

#1002 Adding eulr func
  C++/Maths/Eulers_totient_function.cpp
  C/Maths/eulers_totient_function.c
  Java/Maths/Eulers_totient_function.java
  Python/Maths/Eulers_totient_function.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#975 SortingLinkedList added in C,C++,Java & Python
  C++/Linked-List/MergeSortLinkedList.cpp
  C/Linked-List/MergeSortLinkedList.c
  Java/Linked-List/MergeSortLinkedList.java
  Python/Linked-List/MergeSortLinkedList.py
Labels: Linked-List, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#924 Added Ford-Fulkerson_Algorithm Successfully
  C++/Graphs/Ford-Fulkerson_Algorithm.cpp
  Python/Graphs/Ford-Fulkerson_Algorithm.py
Labels: Graphs, C++, Python, SSOC23, SSOC-INTERMEDIATE

#1036 Create spiralPrint.java
  Java/arrays/spiralPrint.java
Labels: Java, arrays, SSOC23, SSOC-BEGINNER

#981 Tarjan's
  C/Graphs/Tarjan.c
  Java/Graphs/Tarjan.java
  Python/Graphs/Tarjan.py
Labels: Graphs, C, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1067 Burrows - Wheeler Transform Algorithm in C, C++, Java and Python
  C++/Data Compression/burrow_wheeler_transform.cpp
  C/Data Compression/burrow_wheeler_transform.c
  Java/Data-Compression/burrow_wheeler_transform.java
  Python/Data Compression/burrow_wheeler_transform.py
Labels: C, C++, Python, Java, Data Compression, SSOC23, SSOC-INTERMEDIATE

#992 Added Bucket Sort in C and Python
  C/Sorting/Bucket_Sort.c
  Python/Sorting/Bucket_Sort.py
Labels: Sorting, C, Python, SSOC23, SSOC-BEGINNER

#937 Added fibonacci number using dp
  C++/Dynamic-Programming/Fibonacci_Number.cpp
  C++/Dynamic-Programming/README.md
  C/Dynamic-Programming/Fibonacci_Number.c
  C/Dynamic-Programming/README.md
  Java/Dynamic-Programming/Fibonacci_Number.java
  Java/Dynamic-Programming/README.md
  Python/Dynamic-Programming/Fibonacci_Number.py
  Python/Dynamic-Programming/README.md
Labels: C, C++, Python, Java, Dynamic Programming, SSOC23, SSOC-BEGINNER

#900 Grundy num
  C++/Graphs/Grundy_Numbers.cpp
  C/Graphs/Grundy_Numbers.c
  Java/Graphs/Grundy_Numbers.java
  Python/Graphs/Grundy_Numbers.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Game Theory

#1127 added-chinese-rem
  C++/Maths/Chinese_remainder.cpp
  C/Maths/Chinese_reaminder.c
  Java/Maths/Chinese_remainder.java
  Python/Maths/Chinese_remainder.py
Labels: Maths function, C, C++, Python, Java, Ready to Merge, SSOC23

#1070 Grey Wolf Optimization Added
  C++/Optimization/README.md
  C++/Optimization/greywolf.cpp
  C/Optimization/README.md
  C/Optimization/greywolf.c
  Java/Optimization/grey_wolf.java
  Python/Optimization/README.md
  Python/Optimization/greywolf.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Optimization

#1085 hammingDistance theorem codded in c++ , c, java and python
  C++/Binary/hammingDistance.cpp
  C/Binary/hammingDistance.c
  Java/Binary/hammingDistance.java
  Python/Binary/hammingDistance.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Binary

#735 Added the code for Tower of Hanoi in Java and Python
  Java/Recursion/TowerOfHanoi.java
  Python/Recursion/TowerOfHanoi.py
Labels: Python, Java, SSOC23, SSOC-BEGINNER, Recursion

#714 Tower of Hanoi Code Added in C and C++
  C++/Recursion/TowerOfHanoi.cpp
  C/Recursion/TowerOfHanoi.c
Labels: C, C++, SSOC23, SSOC-BEGINNER, Recursion

#728 Added C & Java Implementation of Order Agnostic Binary Search
  C/Searching/Order_Agnostic_Binary_Search.c
  Java/Searching/Order_Agnostic_Binary_Search.java
Labels: Searching, C, Java, SSOC23, SSOC-BEGINNER

#965 Added reverse linked list in group of K problem in C, Cpp, Python and…
  C++/Linked-List/Reverse in group of K.cpp
  C/Linked-List/Reverse in group of K.c
  Java/Linked-List/Reverse_in_group_of_K.java
  Python/Linked-List/Reverse in group of K.py
Labels: Linked-List, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1218 Add K-means algorithm implementation in C
  C/Machine Learning/Kmeans.c
Labels: C, Machine Learning, SSOC23, SSOC-ADVANCED

#1217 Code for ACO
  Python/Optimization/aco_optimization_py.py
Labels: Python, SSOC23, SSOC-ADVANCED, Optimization

#1106 Added bloom-filter algorithm implementation of c and java
  C/Hashing/bloom_filter.c
  Java/Hashing/BloomFilter.java
Labels: C, Java, SSOC23, SSOC-INTERMEDIATE, Hashing

#1006 Reverse Integer & Cocktail Sort issues resolved
  C/Maths/Reverse Integer.c
  C/Sorting/CocktailSort.c
  Java/Maths/ReverseInteger.java
  Java/Sorting/CocktailSort.java
  Python/Sorting/CocktailSort.py
Labels: Sorting, Maths function, C, Python, Java, SSOC23, SSOC-BEGINNER

#1199 Linear Regression in Java
  Java/Machine Learning/Linear_Regression.java
Labels: Java, Machine Learning, SSOC23, SSOC-INTERMEDIATE

#1148 Added Strong Number Codes
  C++/Maths/Strong_Number.cpp
  C/Maths/Strong_Number.c
  Java/Maths/Strong_Number.java
  Python/Maths/Strong_Numbers.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1144 Added Bloom Filter Algorithm in C++ and Python
  C++/Hashing/bloom_filter.cpp
  Python/Hashing/bloom_filter.py
Labels: C++, Python, SSOC23, SSOC-INTERMEDIATE, Hashing

#1143 [SSoC 2.0] Hierholzer Algorithm Completed !
  C++/Graphs/Hierholzer_Algorithm.cpp
  C/Graphs/Hierholzer_Algorithm.c
  Java/Graphs/Hierholzer_Algorithm.java
  Python/Graphs/Hierholzer_Algorithm.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1224 Added code for Binary to Gray Conversion and vice-versa in C,C++,Python and Java
  C++/Binary/Binary to gray conversion.cpp
  C/Binary/Binary to Gray Conversion.c
  Java/Binary/BinarytoGray.java
  Python/Binary/Binary to Gray conversion.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Binary

#1200 added tim sort in the java sort folder
  C++/Sorting/tim_sort.cpp
  C/Sorting/Tim_sort.c
  Java/Sorting/Tim_sort.java
  Python/Sorting/Tim_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#835 dnf sort code added in c
  C/Sorting/dnf_sort.c
Labels: Sorting, C, SSOC23, SSOC-BEGINNER

#995 sudoku in Cpp, Java, C, Python added
  C++/Maths/sudoku.cpp
  C/Maths/sudoku.c
  Java/Maths/sudoku.java
  Python/Maths/sudoku.py
Labels: Maths function, C, C++, Python, Java, Ready to Merge, SSOC23

#1242 Add Brian Kerningham's Algorithm in all 4 languages
  C++/Binary/Brain_Keringham.cpp
  C/Binary/Brain_Keringham.c
  Java/Binary/Brain_Keringham.java
  Python/Binary/Brain_Keringham.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Binary

#1206 Added Fisher-Yates Algorithm In C++ , C, Python and Java
  C++/arrays/Fisher_Yates_Shuffle_Algorithm.cpp
  C/arrays/Fisher_Yates_Shuffle_Algorithm.c
  Java/arrays/FisherYatesShuffle.java
  Python/arrays/Fisher_Yates_Shuffle_Algorithm.py
Labels: C, C++, Python, Java, arrays, SSOC23, SSOC-BEGINNER

#893 Added Binary Tree View problem in C, C++, Java, Python
  C++/Trees/Binary_Tree_View.cpp
  C/Trees/Binary_Tree_View.c
  Java/Trees/Binary_Tree_View.java
  Python/Trees/Binary_Tree_View.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1374 aostar in trees folder
  Java/Trees/aostar.java
  Python/Trees/aostar.py
Labels: Trees, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1327 Added Van Emde Boas
  C++/Trees/Van Emde Boas.cpp
  C/Trees/Van Emde Boas.c
  Java/Trees/Van Emde Boas.java
  Python/Trees/Van Emde Boas.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1315 Dial’s Algorithm in C, C++, PYTHON, JAVA
  C++/Graphs/dial_algorithm.cpp
  C/Graphs/dial_algorithm.c
  Java/Graphs/dial_algorithm.java
  Python/Graphs/dial_algorithm.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1310 [SSoC 2.0] Fleury Algorithm Completed
  C++/Graphs/Fleury_Algorithm.cpp
  C/Graphs/Fleury_Algorithm.c
  Java/Graphs/Fleury_Algorithm.java
  Python/Graphs/Fleury_Algorithm.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1293 Greedy Algorithm for Egyptian Fraction
  C++/Greedy-Algorithm/Egyptian_Fraction.cpp
  C/Greedy-Algorithm/Egyptian_Fraction.c
  Java/Greedy-Algorithm/Egyptian_Fraction.java
  Python/Greedy-Algorithm/Egyptian_Fraction.py
Labels: Greedy-methods, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1309 Particle Swarm Optimization code added Python and C++
  C++/Optimization/particle_swarm_optimization.cpp
  Python/Optimization/particle_swarm_optimization.py
Labels: C++, Python, SSOC23, SSOC-INTERMEDIATE, Optimization

#1252 added multistage graph
  C++/Graphs/multistage_graph.cpp
  C/Graphs/multistage_graph.c
  Java/Graphs/MultistageGraph.java
  Python/Graphs/multistage_graph.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1251 Added Cyclic Sort in C
  C/Sorting/Cyclic_Sort.c
Labels: Sorting, C, SSOC23, SSOC-BEGINNER

#1138 Added Hill climbing algorithm
  C++/Searching/Hill_climbing.cpp
  C/Searching/Hill_climbing.c
  Java/Searching/Hill_climbing.java
  Python/Searching/Hill_climbing.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Optimization

#784 Added Partition Problem in java and C++ under Dynamic Programming
  C++/Dynamic-Programming/Partition_Problem.cpp
  Java/Dynamic-Programming/PartitionProblem.java
Labels: C++, Java, Dynamic Programming, SSOC23, SSOC-INTERMEDIATE

#1190 Columnar Transposition Cipher
  C++/Cryptography/ColumnarTranspositionCipher.cpp
  C/Cryptography/ColumnarTranspositionCipher.c
  Java/Cryptography/ColumnarTranspositionCipher.java
  Python/Cryptography/ColumnarTranspositionCipher.py
Labels: Cryptography, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1092 ADD : Chudnovsky algorithm
  C++/Maths/Chudnovsky.cpp
  C/Maths/Chudnovsky.c
  Java/Maths/Chudnovsky.java
  Python/Maths/Chudnovsky.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#920 N-Queens Problem in c ,c++, JAVA and python
  C++/Divide-and-Conquer/N_Queen.cpp
  C/Divide-and-Conquer/N_Queen.c
  Java/Divide-and-Conquer/N_Queen.java
  Python/Divide-and-Conquer/N_Queen.py
Labels: C, C++, Python, Java, Divide and Conquer, SSOC23, SSOC-INTERMEDIATE

#1107 added scanline algorithm code in C++ and python
  C++/Graphics/Scanline_algorithm.cpp
  Python/Graphics/Scanline-algo.py
Labels: C++, Python, SSOC23, SSOC-INTERMEDIATE, Graphics

#1405 Comb Sort in C++, C, Python, JAVA
  C++/Sorting/comb_sort.cpp
  C/Sorting/comb_sort.c
  Java/Sorting/comb_sort.java
  Python/Sorting/comb_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1395 Add Bead sort in c,c++,java,python
  C++/Sorting/Bead_sort.cpp
  C/Sorting/Bead_sort.c
  Java/Sorting/BeadSort.java
  Python/Sorting/Bead_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1360 Add Patience Sort in C,C++,Java,Python
  C++/Sorting/Patience_sort.cpp
  C/Sorting/Patience_sort.c
  Java/Sorting/patiencesort.java
  Python/Sorting/Patience_sort.py
Labels: Sorting, C, C++, Python, Java, Under Review, SSOC23

#1281 Added Pigeonhole sort
  C++/Sorting/pigeonhole sort.cpp
  C/Sorting/Pigeonhole sort.c
  Java/Sorting/pigeonhole sort.java
  Python/Sorting/pigeonhole sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1244 Add : Aho-Corasick Algorithm for Pattern Searching
  C++/Pattern-Matching/AhoCorasickAlgorithm.cpp
  C/Pattern-Matching/AhoCorasickAlgorithm.c
  Java/Pattern-Matching/AhoCorasickAlgorithm.java
  Python/Pattern-Matching/AhoCorasickAlgorithm.py
Labels: C, C++, Python, Java, pattern matching, SSOC23, SSOC-INTERMEDIATE

#1292 Intro Sort in C, C++, Python, JAVA
  C++/Sorting/intro_sort.cpp
  C/Sorting/intro_sort.c
  Java/Sorting/intro_sort.java
  Python/Sorting/intro_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1392 Added MergeKSortedList in C,C++,Java,Python
  C++/Linked-List/MergeKSortedList.cpp
  C/Linked-List/MergeKSortedList.c
  Java/Linked-List/MergeKSortedLists.java
  Python/Linked-List/MergeKSortedLists.py
Labels: Linked-List, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1019 Disjoint Set Union
  C++/Graphs/DisjoinSetUnion.cpp
  C/Graphs/DisjointSetUnion.c
  Java/Graphs/DisjointSetUnion.java
  Python/Graphs/DisjointSetUnion.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1481 updated the freivald codes issue #1338
  C++/Maths/freivald.cpp
  C/Maths/freivald.c
  Java/Maths/freivald.java
  Python/Maths/freivald.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1474 Decimal to Binary Converter and vise versa in C++ & Java
  C++/Maths/DeciToBinary_BinaryToDeci.cpp
  Java/Maths/DeciToBinary_BinaryToDeci.java
Labels: Maths function, C++, Java, SSOC23, SSOC-BEGINNER

#1460 Bingo Sort in C, C++, Python, JAVA
  C++/Sorting/bingo_Sort.cpp
  C/Sorting/bingo_sort.c
  Java/Sorting/bingo_Sort.java
  Python/Sorting/bingo_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#908 Added C,C++,Java & Python Code for Manacher's Algorithm
  C++/String/Manachers_Algorithm.cpp
  C/String/Manachers_Algorithm.c
  Java/String/Manachers_Algorithm.java
  Python/String/Manachers_Algorithm.py
Labels: C, C++, Python, Java, strings, SSOC23, SSOC-BEGINNER

#722 Added Shortest common Supersequence problem in java , C ,C++ an Python.
  C++/Dynamic-Programming/Shortest Common Supersequence Problem.cpp
  C/Dynamic-Programming/Shortest Common Supersequence Problem.c
  Java/Dynamic-Programming/Shortest_Common_Supersequence_Problem.java
  Python/Dynamic-Programming/Shortest Common Supersequence Problem.py
Labels: C, C++, Python, Java, Dynamic Programming, SSOC23, SSOC-INTERMEDIATE

#1516 Shuffled Frog Leaping Algorithm Python and C++ code
  C++/Optimization/shuffled_frog_leaping_optimization.cpp
  Python/Optimization/shuffled_frog_leaping_optimization.py
Labels: C++, Python, SSOC23, SSOC-ADVANCED, Optimization

#1470 #1332 BogoSort C, C++, Python, Java --> Pratham
  C++/Sorting/BogoSortIn_C++.cpp
  C/Sorting/BogoSortIn_C.c
  Java/Sorting/BogoSortIn_java.java
  Python/Sorting/BogoSortIn_python.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1453 added splay_tree in python
  Python/Trees/splay_tree.py
Labels: Trees, Python, SSOC23, SSOC-INTERMEDIATE

#1440 Implementation of K-Nearest Neighbor algorithm in Python and Java
  Java/Machine Learning/KNN.java
  Python/Machine Learning/knn.py
Labels: Python, Java, Machine Learning, SSOC23, SSOC-ADVANCED

#1539 added priority-scheduling
  C++/Job Scheduling/priority_scheduling.cpp
  C/Job Scheduling/priority_scheduling.c
  Java/Job Scheduling/priority_scheduling.java
  Python/Job Scheduling/priority_scheduling.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Job Scheduling

#1354 Heron's Formula #1155 added in all 4 languages
  C++/Maths/heronsFormula.cpp
  C/Maths/heronsFormula.c
  Java/Maths/heronsFormula.java
  Python/Maths/heronsFormula.py
Labels: Maths function, C, C++, Python, Java, Ready to Merge, SSOC23

#1430 #issue 1317 add two linked list numbers in C, Python,Java
  C/Linked-List/AdditionOfTwoNumbersLL.c
  Java/Linked-List/AdditionOfTwoNumbersinLL.java
  Python/Linked-List/AdditionOfTwoNumbersLL.py
Labels: Linked-List, C, Python, Java, SSOC23, SSOC-BEGINNER

#1489 Travelling Sales Man problem in Python and Java.
  Java/Dynamic-Programming/TravellingSalesMan.java
  Python/Dynamic-Programming/TravellingSalesMan.py
Labels: Python, Java, Dynamic Programming, SSOC23, SSOC-INTERMEDIATE

#1421 Added Edmonds-karp Algorithm Successfully after Re-Forking
  C++/Graphs/Edmonds-Karp_Algorithm.cpp
  C/Graphs/Edmonds-Karp_Algorithm.c
  Java/Graphs/EdmondsKarpAlgorithm.java
  Python/Graphs/Edmonds-Karp_Algorithm.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1553 Added Range based Query and Update operation using SegmentTree
  C++/Trees/SegmentTree.cpp
  C/Trees/SegmentTree.c
  Java/Trees/SegmentTree.java
  Python/Trees/SegmentTree.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1409 interpolation_search code in c , c++ , java , python
  C++/Searching/interpolation_search.cpp
  C/Searching/interpolation_search.c
  Java/Searching/interpolation_search.java
  Python/Searching/interpolation_search.py
Labels: Searching, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1322 Added Stooge Sort Algorithm in C, C++ , Java and Python
  C++/Sorting/StoogeSort.cpp
  C/Sorting/StoogeSort.c
  Java/Sorting/StoogeSort.java
  Python/Sorting/StoogeSort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1504 added sublist search
  C++/Searching/sublist_search.cpp
  C/Searching/sublist_search.c
  Java/Searching/SublistSearch.java
  Python/Searching/sublist_search.py
Labels: Searching, C, C++, Python, Java, SSOC23, SSOC-BEGINNER
