Repository Kumar-laxmi/Algorithms, pull requests merged in 2023-10, with the labels that each got.

#1786 Gradient descent implemented in Python
  Python/Optimization/Gradient_Descent.py
  README.md
Labels: hacktoberfest-accepted, Python, Optimization, Hacktoberfest

#1788 A* Algorithm implemented
  C++/Artificial Intelligence/A_Star.cpp
  README.md
Labels: hacktoberfest-accepted, C++, Artificial Intelligence, Hacktoberfest

#1790 AO Star in C++ added
  C++/Trees/AO_Star.cpp
  README.md
Labels: hacktoberfest-accepted, Trees, C++, Hacktoberfest

#1791 Hill Cipher in C Added
  C/Cryptography/Hill_Cipher.c
  README.md
Labels: hacktoberfest-accepted, Cryptography, C, Hacktoberfest

#1797 A_star algorithm
  C/Artificial Intelligence/A_star.c
  Java/Artificial Intelligence/A_star.java
  Python/Artificial Intelligence/A_star.py
Labels: hacktoberfest-accepted, C, Python, Java, Artificial Intelligence, Hacktoberfest
