Repository Kumar-laxmi/Algorithms, pull requests merged in 2023-07, with the labels that each got.

#1425 matrix-chain-multiplication in C, Java, Python
  C/Dynamic-Programming/MatrixChainMultiplication.c
  Java/Dynamic-Programming/MatrixChainMultiplication.java
  Python/Dynamic-Programming/MatrixChainMultiplication.py
Labels: C, Python, Java, Dynamic Programming, SSOC23, SSOC-INTERMEDIATE

#1422 [SSoC 2.0] Lucas Lehmer Series algorithm completed
  C++/Maths/Lucas_Lehmer_Series.cpp
  C/Maths/Lucas_Lehmer_Series.c
  Java/Maths/Lucas_Lehmer_Series.java
  Python/Maths/Lucas_Lehmer_Series.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1362 Fractional Knapsack under Greedy Algorithm using Java
  Java/Greedy-Algorithm/FractionalKnapsack.java
Labels: Greedy-methods, Java, SSOC23, SSOC-BEGINNER

#1400 Binary Exponentiation in Java
  Java/Maths/Binary_Exponentiation.java
Labels: Maths function, Java, SSOC23, SSOC-BEGINNER

#1372 added b+ tree in c,c++,java and python.
  C++/Trees/BPlusTree.cpp
  C/Trees/BPlusTree.c
  Java/Trees/BPlusTree.java
  Python/Trees/BPlusTree.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1644 Kruskals Algorithm In C, Cpp, Java and Python
  C++/Graphs/Kruskals.cpp
  C/Graphs/Kruskals.c
  Java/Graphs/Kruskals.java
  Python/Graphs/Kruskals.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1619 Simulated Annealing Python and C++ codes added
  C++/Optimization/simulated_annealing.cpp
  Python/Optimization/simulated_annealing.py
Labels: C++, Python, SSOC23, SSOC-INTERMEDIATE, Optimization

#1615 Added Longest Remaining Time First
  C++/Job Scheduling/Longest_Remaining_Time_First.cpp
  C/Job Scheduling/Longest_Remaining_Time_First.c
  Java/Job Scheduling/LRTF.java
  Python/Job Scheduling/Longest_Remaining_Time_First.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Job Scheduling

#1613 Interquartile range successfully completed in c , cpp , python and java
  C++/Maths/Interquartile_range.cpp
  C/Maths/Interquartile_range.c
  Java/Maths/Interquartile_range.java
  Python/Maths/Interquartile_range.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1608 Add treap algo
  C++/Trees/treap_algo.cpp
  C/Trees/treap_algo.c
  Java/Trees/treap_algo.java
  Python/Trees/treap_algo.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1650 RabinKarp Code in C and Java
  C/Pattern-Matching/RabinKarpAlgo.c
  Java/Pattern-Matching/RabinKarp.java
Labels: C, Java, pattern matching, SSOC23, SSOC-BEGINNER

#1321 Add Luhn algorithm in C,C++,Python and Java
  C++/Maths/Luhn algorithm.cpp
  C/Maths/Luhn algorithm.c
  Java/Maths/LuhnAlgorithm.java
  Python/Maths/Luhn algorithm.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1287 Added Peterson Algorithm in C , C++, Python, Java
  C++/Concurrent Algorithms/peterson_algo.cpp
  C/Concurrent Algorithms/peterson_algo.c
  Java/Concurrent Algorithms/peterson_algo.java
  Python/Concurrent Algorithms/peterson_algo.py
Labels: C, C++, Python, Java, Concurrent Programming, SSOC23, SSOC-INTERMEDIATE

#1551 FCFS-4 files added in job scheduling
  C++/Job Scheduling/First_Come_First_Serve.cpp
  C/Job Scheduling/First_Come_First_Serve.c
  Java/Job Scheduling/First_Come_First_Serve.java
  Python/Job Scheduling/First_Come_First_Serve.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Job Scheduling

#1698 Added Prim's algorithm in C
  C/Graphs/Prims.c
Labels: Graphs, C, SSOC23, SSOC-INTERMEDIATE

#1695 Update README.md
  README.md
Labels: bug, documentation, SSOC23, SSOC-BEGINNER

#1682 Correcting all the code in all languages to get the dseired result : Camel Case
  C++/String/Camel_Case.cpp
  C/String/Camel_Case.c
  Java/String/Camel_Case.java
  Python/String/Camel_Case.py
Labels: bug, strings, SSOC23, SSOC-BEGINNER

#1627 Fenwick Tree code in C, C++, Java and Python
  C++/Trees/Fenwick Tree.cpp
  C/Trees/Fenwick Tree.c
  Java/Trees/Fenwick_Tree.java
  Python/Trees/Fenwick Tree.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1672 Bidirectional Selection Sort in C, C++, Python and Java.
  C++/Sorting/Bidirectional_Selection_Sort.cpp
  C/Sorting/Bidirectional_Selection_Sort.c
  Java/Sorting/Bidirectional_Selection_Sort.java
  Python/Sorting/Bidirectional_Selection_Sort.py
Labels: Sorting, C, C++, Python, Java, Ready to Merge, SSOC23

#1635 Added QuickHull algorithm in C,C++,Java and Python
  C++/Maths/QuickHull Algorithm.cpp
  C/Maths/QuickHull Algorithm.c
  Java/Maths/QuickHull_Algorithm.java
  Python/Maths/QuickHull Algorithm.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1655 Adding of Elgamal cryptosystem
  C++/Cryptography/Elgamal.cpp
  C/Cryptography/Elgamal.c
  Java/Cryptography/Elgamal.java
  Python/Cryptography/Elgamal.py
Labels: Cryptography, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1642 Added Klee's Algorithm for Length of Union of Segments
  C++/Maths/segmentUnionLength.cpp
  C/Maths/segmentUnionLength.c
  Java/Maths/segmentUnionLength.java
  Python/Maths/segmentUnionLength.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1639 Added Hamming Code Algorithm in Python, Java, C and C++
  C++/Binary/hammingCode.cpp
  C/Binary/hammingCode.c
  Java/Binary/hammingCode.java
  Python/Binary/hammingCode.py
Labels: C, C++, Python, Java, SSOC23, SSOC-BEGINNER, Binary

#1549 Added Implementation of Next fit Algorithm in C, C++, Java & Python Closes #1495
  C++/Memory Allocation/Next_Fit_Fixed_Memory.cpp
  C/Memory Allocation/Next_Fit_Fixed_Memory.c
  Java/Memory Allocation/NextFitFixedMemory.java
  Python/Memory Allocation/NextFitFixedMemory.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Memory Allocation

#1457 Circular Linked List in JAVA
  Java/Linked-List/CircularLinkedList.java
Labels: Linked-List, Java, SSOC23, SSOC-BEGINNER

#1665 add mssp algorithm in c,c++ and java
  C++/Graphs/Multisource_Shortest_Path.cpp
  C/Graphs/Multisource_Shortest_Path.c
  Java/Graphs/Multisource_Shortest_Path.java
  Python/Graphs/MultiSource_Shortest_Path.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1645 Cuckoo Hashing in C,C++,Java and Python
  C++/Hashing/cuckoo_hashing.cpp
  C/Hashing/cuckoo_hashing.c
  Java/Hashing/cuckoo_hashing.java
  Python/Hashing/cuckoo_hashing.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Hashing

#1609 pancake sorting algorithm added
  C++/Sorting/pancake_sort.cpp
  C/Sorting/pancake_sort.c
  Java/Sorting/PanCakeSort.java
  Python/Sorting/pancake_sort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1552 Ford Fulkerson Algorithm is implemented in C , CPP , JAVA , PYTHON la…
  C/Graphs/FordFulkerson.c
  Java/Graphs/FordFulkerson.java
Labels: Graphs, C, Java, SSOC23, SSOC-INTERMEDIATE

#1543 added worst fit memory allocation technique for cpp, c, python & java closes #1492
  C++/Memory Allocation/Worst_Fit_Fixed_Memory.cpp
  C/Memory Allocation/Worst_Fit_Fixed_memory_blocks.c
  Java/Memory Allocation/WorstFitFixedMemory.java
  Python/Memory Allocation/WorstFitFixedMemory.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Memory Allocation

#1588 Power set of a set of elements in C, C++, Java and Python #1339
  C++/Maths/Power_Set.cpp
  C/Maths/Power_Set.c
  Java/Maths/PowerSet.java
  Python/Maths/Power_Set.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1204 Added logistic Regression in C and Java
  C/Machine Learning/LogisticRegression.c
  Java/Machine Learning/LogisticRegression.java
Labels: C, Java, Machine Learning, SSOC23, SSOC-INTERMEDIATE

#1651 Added Morse Code programs
  C++/Cryptography/MorseCodeConvotor.cpp
  C/Cryptography/MorseCodeConvortor.c
  Java/Cryptography/MorseCodeConverter.java
  Python/Cryptography/MorseCodeConvortor.py
Labels: Cryptography, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1714 Wrote the LZ78 compression algorithm in Python, C++, C, and Java
  C++/Data Compression/LZ78.cc
  C/Data Compression/LZ78.c
  Java/Data-Compression/LZ78.java
  Python/Data Compression/LZ78.py
Labels: C, C++, Python, Java, Data Compression, SSOC23, SSOC-INTERMEDIATE

#1707 Added Randomized Quicksort in C,C++,Java and Python
  C++/Sorting/randomized_quicksort.cpp
  C/Sorting/randomised_quicksort.c
  Java/Sorting/randomized_quicksort.java
  Python/Sorting/randomized_quicksort.py
Labels: Sorting, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1699 [SSoC 2.0] Min-Indexed D-Heap Algorithm Completed
  C++/Trees/MinIndexedDHeap.cpp
  C/Trees/MinIndexedDHeap.c
  Java/Trees/MinIndexedDHeap.java
  Python/Trees/MinIndexedDHeap.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1711 Similar triangles
  C++/Maths/SimilarTriangles.cpp
  C/Maths/SimilarTriangles.c
  Java/Maths/SimilarTriangles.java
  Python/Maths/SimilarTriangles.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1530 Stoer Wagner Algorithm
  C++/Graphs/StoerWagner.cpp
  C/Graphs/StoerWagner.c
  Java/Graphs/StoerWagner.java
  Python/Graphs/StoerWagner.py
Labels: Graphs, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1434 Ternary search tree
  C++/Trees/TernarySearchTree.cpp
  C/Trees/TernarySearchTree.c
  Java/Trees/TernarySearchTree.java
  Python/Trees/TernarySearchTree.py
Labels: Trees, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1592 Affine Cipher Files
  C++/Cryptography/Affine_Cipher.cpp
  C/Cryptography/Affine_Cipher.c
  Java/Cryptography/Affine_Cipher.java
  Python/Cryptography/Affine_Cipher.py
Labels: Cryptography, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1712 Congruency of triangles
  C++/Maths/CongruencyOfTriangles.cpp
  C/Maths/CongruencyOfTriangles.c
  Java/Maths/CongruencyOfTriangles.java
  Python/Maths/CongruencyOfTriangles.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1710 Create BoyerMoore.java
  Java/Sub-Arrays/BoyerMoore.java
Labels: Java, Sub-Arrays, Ready to Merge, SSOC23

#1727 Binomial theorem
  C++/Maths/BinomialTheorem.cpp
  C/Maths/BinomialTheorem.c
  Java/Maths/BinomialTheroem.java
  Python/Maths/BinomialTheorem.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1749 added ottmann algorithm in C,C++,Java and Python
  C++/Maths/Bentley_Ottmann_Algorithm.cpp
  C/Maths/Bentley_Ottmann_Algorithm.c
  Java/Maths/Bentley_Ottmann_Algorithm.java
  Python/Maths/Bentley_Ottmann_Algorithm.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE

#1558 added lcs code in python
  Python/Dynamic-Programming/Longest_Common_Subsequence.py
Labels: Python, Dynamic Programming, Ready to Merge, SSOC23

#1536 Closes #1445 Added SJF implementation in C, C++, Java & Python
  C++/Job Scheduling/Shortest_Job_First.cpp
  C/Job Scheduling/Shortest_Job_First.c
  Java/Job Scheduling/Shortest_Job_First.java
  Python/Job Scheduling/Shortest_Job_First.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Job Scheduling

#1704 Added Canny Edge Detection to Image Processing
  C++/Image Processing/Canny Edge Detection Algorithm/cannyEdgeDetection.cpp
  C++/Image Processing/Canny Edge Detection Algorithm/dog.jpeg
  C/Image Processing/Canny Edge Detection Algorithm/cannyEdgeDetection.c
  C/Image Processing/Canny Edge Detection Algorithm/dog.jpeg
  Java/Image Processing/Canny Edge Detection Algorithm/cannyEdgeDetection.java
  Java/Image Processing/Canny Edge Detection Algorithm/dog.jpeg
  Python/Image Processing/Canny Edge Detection Algorithm/cannyEdgeDetection.py
  Python/Image Processing/Canny Edge Detection Algorithm/dog.jpeg
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Image Processing

#1748 Ssoc 2 Shri Dharayacharya
  C++/Maths/shriDharacharya.cpp
  C/Maths/shriDharacharya.c
  Java/Maths/ShriDharacharya.java
  Python/Maths/ShriDharacharya
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1746 Adding of Russian Peasant Algorithm
  C++/Maths/RussianPeasant.cpp
  C/Maths/RussianPeasant.c
  Java/Maths/RussianPeasant.java
  Python/Maths/RussianPeasant.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1774 Round Robin Scheduling Algorithm implementation in C, C++, Python & Java
  C++/Job Scheduling/RoundRobin.cpp
  C/Job Scheduling/RoundRobin.c
  Java/Job Scheduling/RoundRobin.java
  Python/Job Scheduling/RoundRobin.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Job Scheduling

#1766 add hrrn-algo in c,c++,java,python
  C++/Job Scheduling/Highest_Response_Ratio_Next.cpp
  C/Job Scheduling/Highest_Response_Ratio_Next.c
  Java/Job Scheduling/Highest_Response_Ratio_Next.java
  Python/Job Scheduling/Highest_Response_Ratio_Next.py
Labels: C, C++, Python, Java, SSOC23, SSOC-INTERMEDIATE, Job Scheduling

#1320 Josephus Problem is solved
  C++/Maths/Josephus.cpp
  C/Maths/josephus.c
  Java/Maths/josephus.java
  Python/Maths/josephus.py
Labels: Maths function, C, C++, Python, Java, SSOC23, SSOC-BEGINNER

#1754 added quick select algorithm.
  C++/Searching/quick_select.cpp
  C/Searching/quick_select.c
  Java/Searching/QuickSelect.java
  Python/Searching/quick_select.py
Labels: Searching, C, C++, Python, Java, SSOC23, SSOC-BEGINNER
