Repository Kumar-laxmi/Algorithms, pull requests merged in 2023-03, with the labels that each got.

#611 Diffie Hellman Algorithm
  Python/Cryptography/DiffieHellman.py
Labels: dependency

#594 JobSequencing.c added
  C/Greedy-Algorithm/JobSequencing.c
Labels: SWOC23-INTERMEDIATE, Greedy-methods, C, SWOC23

#588 sha-256 in C, C++, python, java
  C++/Cryptography/SHA256.cpp
  C/Cryptography/SHA256.c
  Java/Cryptography/SHA256.java
  Python/Cryptography/SHA256.py
Labels: SWOC23-BEGINNER, Cryptography, C, C++, Python, Java, SWOC23

#562 Banker's Algorithm in Java
  Java/Deadlock Avoidance/Bankers_Algorithm.java
Labels: SWOC23-INTERMEDIATE, Java, SWOC23, Deadlock Avoidance

#233 Quick Sort Algorithm for Python
  Python/Sorting/quick_sort.py
Labels: SWOC23-BEGINNER, Sorting, Python, SWOC23

#567 Prims Algorithm
  Python/Graphs/prims_algorithm.py
Labels: SWOC23-INTERMEDIATE, Greedy-methods, Python, SWOC23

#554 Added AVL Tree Implementation and Doubly Linked List Implementation in C language
  C/Linked-List/DoublyLinkedList.c
  C/Trees/AVL_Tree.c
Labels: SWOC23-ADVANCED, Trees, Linked-List, C, SWOC23

#597 Linear Regression inC
  C/Maths/linearregression.c
Labels: SWOC23-INTERMEDIATE, C, Machine Learning, SWOC23

#619 KMP Algorithm Implementation in Java
  C++/Pattern-Matching/KmpAlgo.java
Labels: SWOC23-INTERMEDIATE, Java, SWOC23, pattern matching

#609 Vigenère Cipher Implementation in C++
  C++/Cryptography/VigenèreCipher.cpp
Labels: SWOC23-INTERMEDIATE, Cryptography, C++, SWOC23

#607 Vernam Cipher in C & JAVA
  C/Cryptography/VernamCipher.c
  Java/Cryptography/VernamCipher.java
Labels: SWOC23-INTERMEDIATE, Cryptography, C, Java, SWOC23

#604 Vigenère Cipher in Java
  Java/Cryptography/VigenèreCipher.java
Labels: SWOC23-INTERMEDIATE, Cryptography, Java, SWOC23

#616 added radix sort in C
  C/Sorting/radix_sort.c
Labels: SWOC23-BEGINNER, Sorting, C, SWOC23

#618 Hill Cipher in Java
  Java/Cryptography/HillCipher.java
Labels: SWOC23-BEGINNER, Cryptography, Java, SWOC23

#615 Optimal merge pattern
  C++/Greedy-Algorithm/Optimal_merge_Pattern.cpp
  C/Greedy-Algorithm/Optimal_Merge_Pattern.c
  Java/Greedy-Algorithm/Optimal_Merge_Pattern.java
  Python/Greedy-Algorithm/Optimal_Merge_pattern.py
Labels: SWOC23-BEGINNER, Greedy-methods, C, C++, Python, Java, SWOC23

#612 Homophonic substitution in C,C++,java and python
  C++/Cryptography/homophonic_substitution.cpp
  C/Cryptography/homophonic_substitution.c
  Java/Cryptography/HomophonicSubstitution.java
  Python/Cryptography/homophonic_Substitution.py
Labels: SWOC23-BEGINNER, Cryptography, C, C++, Python, Java, SWOC23

#595 Red black tree in java
  Java/Trees/RedBlackTree.java
Labels: SWOC23-INTERMEDIATE, Trees, Java, SWOC23

#424 Added Unsorted array algorithm in C/C++/Java/Python
  C++/Sub-Arrays/Unsorted_Array.cpp
  C/Sub-Arrays/Unsorted_Array.c
  Java/Sub-Arrays/Unsorted_Array.java
  Python/Sub-Arrays/Unsortd_Array.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, Sub-Arrays

#593 Implementation of K-Nearest Neighbour algorithm in C
  C/Machine Leraning/KNN.c
Labels: SWOC23-ADVANCED, C, Machine Learning, SWOC23

#369 Bubble sort - Complexity Reduction
  C++/Sorting/bubble_sort.cpp
Labels: SWOC23-INTERMEDIATE, Sorting, C++, SWOC23

#606 Stack using Priority Queue
  C++/Stack/Stack_using_Priority_queue.cpp
  C/Stack/Stack_using_Priority_Queue.c
  Java/Stack/Stack_using_priorityqueue
  Python/Stack/stack_using_priority_queue.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, Stack

#622 Feed Forward Neural Network Implementation in C++
  C++/Machine-Learning/FeedFwdNN.cpp
Labels: SWOC23-ADVANCED, C++, SWOC23, Deep Learning

#625 Binary Exponentiation in C and Python
  C/Maths/Binary_expo.c
  Python/Maths/Binary_expo.py
Labels: SWOC23-BEGINNER, Maths function, C, Python, SWOC23

#247 Counting Sort using Java
  Java/Sorting/counting_sort.java
Labels: SWOC23-BEGINNER, Sorting, Java, SWOC23

#467 Added Radix Sort in python #321
  Python/radixSort.py
Labels: SWOC23-BEGINNER, Sorting, Python, SWOC23

#576 Added Modular Exponentiation in C++
  C++/Maths/Modular_exponentiation.cpp
Labels: SWOC23-BEGINNER, Maths function, C++, SWOC23

#628 RSA Algorithm in C, C++, Java
  C++/Cryptography/RSA_Algorithm.cpp
  C/Cryptography/RSA_Algo.c
  Java/Cryptography/RSA_Algorithm.java
Labels: SWOC23-ADVANCED, Cryptography, C, C++, Java, SWOC23

#631 ADDED RADIX SORT IN CPP
  C++/Sorting/radix_sort.cpp
Labels: SWOC23-BEGINNER, Sorting, C++, SWOC23

#591 Diagonal Print Algorithm in 2D arrays (C, C++, Java, Python)
  C++/arrays/Diagonal_Printing_in_2D_arrays.cpp
  C/arrays/Diagonal_Printing_in_2D_arrays.c
  Java/arrays/Diagonal_Printing_in_2D_arrays.java
  Python/arrays/Diagonal_Printing_in_2D_arrays.py
Labels: SWOC23-BEGINNER, C, C++, Python, Java, SWOC23, arrays

#627 Added linked list length algorithm in C/C++/Java/Python
  C++/Linked-List/linklist_length.cpp
  C/Linked-List/linklist_length.c
  Java/Linked-List/linklist_length.java
  Python/Linked-List/linklist_length.py
Labels: SWOC23-BEGINNER, Linked-List, C, C++, Python, Java, SWOC23

#637 K Means Implementation in C++
  C++/Machine-Learning/FeedFwdNN.cpp
  C++/Machine-Learning/KMeansClustering.cpp
Labels: SWOC23-ADVANCED, C++, Machine Learning, SWOC23

#636 Jump search
  C++/Searching/Jump_Search.cpp
  C/Searching/Jump_Search.c
  Java/Searching/JumpSearch.java
  Python/Searching/Jump_Search.py
Labels: SWOC23-BEGINNER, Searching, C, C++, Python, Java, SWOC23

#635 Added detect loop in a linked list in C++.
  C++/Linked-List/Detect Loop in Linked List.cpp
Labels: SWOC23-BEGINNER, Linked-List, C++, SWOC23

#634 Modular Exponentiation in C, Java, Python
  C/Maths/ModularExponentiation.c
  Java/Maths/ModularExponentiation.java
  Python/Maths/ModularExponentiation.py
Labels: SWOC23-INTERMEDIATE, Maths function, C, Python, Java, SWOC23

#643 Perceptron learning Boolean functions
  C++/Cryptography/Railfence.cpp
  C/Cryptography/Railfence.c
  Python/Deep learning/perceptron_learning.py
Labels: SWOC23-ADVANCED, Cryptography, C, C++, Python, SWOC23, Deep Learning
